# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/CMakeWorkspaceSettings.json
.vs/Dota2Cheat-0.4.1.3/FileContentIndex/6f8aaa98-c9ab-47b8-ad15-6bf1bd235ef9.vsidx
.vs/Dota2Cheat-0.4.1.3/FileContentIndex/949e0be3-dc9f-463e-aea8-83836c1733e3.vsidx
.vs/Dota2Cheat-0.4.1.3/FileContentIndex/bf7d4e6c-1850-4d07-b8b8-f27f4638ace4.vsidx
.vs/Dota2Cheat-0.4.1.3/FileContentIndex/read.lock
.vs/Dota2Cheat-0.4.1.3/v17/.suo
.vs/Dota2Cheat-0.4.1.3/v17/Browse.VC.db
.vs/Dota2Cheat-0.4.1.3/v17/fileList.bin
.vs/Dota2Cheat-0.4.1.3/v17/Solution.VC.db
.vs/Dota2Cheat-0.4.1.3/v17/workspaceFileList.bin
.vs/Dota2Cheat/FileContentIndex/cc38e89a-dcb3-4e4e-b755-59aa1a77ed38.vsidx
.vs/Dota2Cheat/FileContentIndex/read.lock
.vs/Dota2Cheat/v17/.suo
.vs/Dota2Cheat/v17/Browse.VC.db
.vs/Dota2Cheat/v17/fileList.bin
.vs/Dota2Cheat/v17/Solution.VC.db
.vs/Panda-0.4.1.3/FileContentIndex/441dde1c-bca7-47f0-8e50-d9a461f78b6b.vsidx
.vs/Panda-0.4.1.3/FileContentIndex/600fa88a-ec8d-446b-8876-b14f876ea3d8.vsidx
.vs/Panda-0.4.1.3/FileContentIndex/6ab34bb0-0e46-432f-b575-3945f1868345.vsidx
.vs/Panda-0.4.1.3/FileContentIndex/76fdc374-34b2-4f94-9e05-aed9769f9dc9.vsidx
.vs/Panda-0.4.1.3/FileContentIndex/read.lock
.vs/Panda-0.4.1.3/v17/.suo
.vs/Panda-0.4.1.3/v17/Browse.VC.db
.vs/Panda-0.4.1.3/v17/fileList.bin
.vs/Panda-0.4.1.3/v17/ipch/AutoPCH/dc311d1f0abc3101/X86CONTEXT.ipch
.vs/Panda-0.4.1.3/v17/Solution.VC.db
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
*.exp
*.pdb
*.tlog
*.ilk
*.idb
*.log
*.iobj
*.ipdb
*.recipe
*.vsidx
